<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lista peliculas</title>
    <!-- Bootstrap Core CSS -->
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href='css/custom.css' rel='stylesheet'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
</head>
<body>
    <div class='container'>
        <div class='row'><article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BMTU3ODg2NjQ5NF5BMl5BanBnXkFtZTcwMDEwODgzMQ@@._V1_UY268_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>El laberinto del fauno</a>
</h3>
<ul>
<li>Genero:Drama</li>
<li>Puntaje:8</li>
<li>Duracion:118</li>
</ul>
<p>En la espana falangista de 1944, la alocada joven hijastra de un sadico oficial del ejercito escapa a un misterioso pero cautivador mundo de fantasia.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BMTgwNTI3OTczOV5BMl5BanBnXkFtZTcwMTM3MTUyMw@@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>El secreto de sus ojos</a>
</h3>
<ul>
<li>Genero:Drama</li>
<li>Puntaje:8</li>
<li>Duracion:129</li>
</ul>
<p>Un asesor legal jubilado escribe una novela con la esperanza de encontrar un cierre para uno de sus casos pasados de homicidio sin resolver y para su amor no reciproco con su superior, que todavia lo persiguen decadas mas tarde.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BNzAzMjA1ODAxOV5BMl5BanBnXkFtZTgwODg4NTQzNDE@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Relatos salvajes</a>
</h3>
<ul>
<li>Genero:Comedia</li>
<li>Puntaje:8</li>
<li>Duracion:122</li>
</ul>
<p>Seis historias cortas que exploran las extremidades del comportamiento humano que involucran a personas en peligro.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BMWJhOTg5MWQtYTJjMi00YmFkLTg4ODgtYmU2YWVhODQ4ZDM3XkEyXkFqcGdeQXVyMTAwMzUyOTc@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Amores perros</a>
</h3>
<ul>
<li>Genero:Drama</li>
<li>Puntaje:8</li>
<li>Duracion:154</li>
</ul>
<p>Un horrible accidente automovilistico conecta tres historias, cada una de ellas con personajes que se enfrentan a la perdida, el arrepentimiento y las duras realidades de la vida, todo en nombre del amor.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BN2RiNmEwNzMtYjI2ZS00OThjLWI2MmUtMzg0ZDhiZTI0NjFhXkEyXkFqcGdeQXVyMjQ3NzUxOTM@._V1_UY268_CR2,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Toc toc</a>
</h3>
<ul>
<li>Genero:Comedia</li>
<li>Puntaje:7</li>
<li>Duracion:90</li>
</ul>
<p>Las aventuras y desventuras de un grupo de pacientes con toc databan al mismo tiempo.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BM2MxNDkwNWItNDFiMS00YTNlLWJjM2EtMDA0ZjY0OGFiYmIzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Abre los ojos</a>
</h3>
<ul>
<li>Genero:Drama</li>
<li>Puntaje:8</li>
<li>Duracion:117</li>
</ul>
<p>Un hombre muy guapo encuentra el amor de su vida, pero sufre un accidente y necesita que le reconstruyan la cara con una cirugia despues de haberla desfigurado gravemente. </p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BOTNmZTgyMzAtMTUwZC00NjAwLTk4MjktODllYTY5YTUwN2YwXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Diarios de motocicleta</a>
</h3>
<ul>
<li>Genero:Aventura</li>
<li>Puntaje:8</li>
<li>Duracion:126</li>
</ul>
<p>La dramatizacion de un viaje en motocicleta por carretera che guevara continuo en su juventud que le mostro el llamado de su vida.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BMjI5MjA0NzA3NV5BMl5BanBnXkFtZTgwODgyNjk5NTE@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Metegol</a>
</h3>
<ul>
<li>Genero:Animacion</li>
<li>Puntaje:7</li>
<li>Duracion:106</li>
</ul>
<p>Un joven llamado amadeo se embarca en una aventura inesperada con los jugadores de su amado juego de metegol.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BYTNjOGMzOTgtYWVmMi00ZWYzLWI4ZDItZjRhMjU3MzBhY2UwXkEyXkFqcGdeQXVyMTA0MjU0Ng@@._V1_UY268_CR3,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Tesis</a>
</h3>
<ul>
<li>Genero:Misterio</li>
<li>Puntaje:8</li>
<li>Duracion:125</li>
</ul>
<p>Mientras hace una tesis sobre la violencia, angela encuentra un video snuff donde una chica es torturada hasta la muerte. pronto descubre que la chica era una antigua alumna de su facultad...</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BMTYxMDdlYjItMDVkYy00MjYzLThhMTYtYjIzZjZiODk1ZWRmXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UX182_CR0,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Nueve reinas</a>
</h3>
<ul>
<li>Genero:Crimen</li>
<li>Puntaje:8</li>
<li>Duracion:114</li>
</ul>
<p>Dos estafadores intentan estafar a un coleccionista de sellos vendiendole una hoja de sellos raros falsificados, las nueve reinas.</p>
</article>
<article class='col-md-4 article-intro'>
<a href='#'><img class='img-responsive img-rounded' src='https://m.media-amazon.com/images/M/MV5BNDUyODQ0MTcxNF5BMl5BanBnXkFtZTgwMDMxNjAzMTE@._V1_UY268_CR4,0,182,268_AL_.jpg' alt=''></a>
<h3>
<a href='#'>Un cuento chino</a>
</h3>
<ul>
<li>Genero:Comedia</li>
<li>Puntaje:7</li>
<li>Duracion:93</li>
</ul>
<p>El dueno de una ferreteria bien ordenada en buenos aires vera su vida al reves cuando ayude a un chino varado que no habla ni una palabra de espanol a encontrar a su tio en la bulliciosa ciudad.</p>
</article>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src='js/jquery-1.11.3.min.js'></script>
    <!-- Bootstrap Core JavaScript -->
    <script src='js/bootstrap.min.js'></script>
	<!-- IE10 viewport bug workaround -->
	<script src='js/ie10-viewport-bug-workaround.js'></script>
	<!-- Placeholder Images -->
	<script src='js/holder.min.js'></script>
</body>
</html>